<% provide(:title, 'Family') %>

<div class="container mt-5">
  <% if @family %>
    <h1 class="mb-4"><%= yield(:title) %></h1>
    <%= render @family %>
  <% else %>
    <h3>Welcome to Kazoku-Works</h3>
    <div class="alert alert-info" role="alert">
      <p>Please create a family.</p>
      <%= link_to "Create Family", new_family_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>