<% provide(:title, 'Family') %>
<h1><%= yield(:title) %></h1>

<% if @family %>
  <h3>Family Name:</h3>
    <h3><%= @family.name %></h3>
  

  <h3>Members:</h3>
  <ul>
    <% @family.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
<% else %>
  <h3>Kazoku-worksへようこそ</h3>
    <p>家族を作成してください</p>
    <%= link_to "家族作成", new_family_path %>
<% end %>