<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-lg-6 col-md-8 col-12 pt-1 pt-md-4 pb-4">
      <h1 class="text-center text-xl-start">家族登録</h1>
      <%= bootstrap_form_with model: @family, html: { class: "needs-validation", novalidate: true } do |f| %> 
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-lg", required: true %>
        <%= f.date_field :established_date, class: "form-control form-control-lg", required: true %>
        <%= f.submit "登録" %>
      <% end %>
    </div>
  </div>
</div>
