<% provide(:title, 'Family') %>

<div class="container mt-5">
  <% if @family %>
    <div class="d-flex align-items-center">
      <h1 class="mb-4">Family</h1>
      <div class="ms-3 small">
        <%= link_to "家族名の変更", edit_family_path(@family) %>
      </div>
    </div>

    <%= render @family %>
    <%= link_to '家族招待', new_family_invitation_path(@family), class: 'btn btn-primary mt-3' %>
  <% else %>
    <div class="text-center">
      <h1 class="mb-4">家族を作成しましょう</h1>
      <%= link_to '家族を作成する', new_family_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
