<!-- Footer -->
<footer class="footer bg-dark border-top pt-2 pb-2 pb-lg-3">
  <div class="container text-center pt-1 pt-md-2 pt-lg-3 pb-xl-2">
    <div class="row justify-content-center pt-xxl-1">
      <div class="col-10 col-md-8 col-lg-6">
        <!-- Footer content -->
        <div class="pt-2 mt-lg-1 mt-xl-2">
          <p class="text-muted mb-0">&copy; All rights reserved. Kazoku-Works</p>
        </div>
        <div class="pt-2 mt-lg-1 mt-xl-2 footer-links">
          <%= link_to 'プライバシーポリシー', privacy_policy_path %>	
          <%= link_to '利用規約', terms_of_service_path %>
          <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSdu_Xq_V9JmPkNErVE5xEMsw7ZZy0I-3srK2UH4FRbGm0r7rQ/viewform?usp=sf_link', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</footer>

