<%= turbo_frame_tag 'events' do %>
<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-lg-6 col-md-8 col-12 pt-1 pt-md-4 pb-4">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center text-xl-start">イベント編集</h1>

          <%= render 'form', event: @event %>

          <%= link_to 'Back', events_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>