<%= provide(:title, t('activerecord.models.event')) %>

<%= turbo_frame_tag 'events' do %>
  <div class="mb-4">
    <h1 class="display-4 mr-3">Events</h1>
    <div class="container ml-3">
      <%= link_to '新規イベントを作成する', new_event_path, data: { turbo_action: 'replace' }, class: "small d-block mt-2" %>
    </div>
  </div>
  <turbo-frame id="events_list">
    <%= render @events %>
  </turbo-frame>
<% end %>
