<%= bootstrap_form_with url: family_invitations_path(@family), method: :post, local: true do |form| %>
  <%= form.submit "Generate Invitation Link", class: "btn btn-primary mb-3" %>
<% end %>

<% if @invitation_url %>
<div class="input-group mb-3">
  <input type="text" class="form-control" id="invitation_url" value="<%= @invitation_url %>" readonly>
  <button class="btn btn-success" type="button" data-clipboard-target="#invitation_url">Copy</button>
</div>
<% end %>

