<div class="flash-message-container">
  <% if flash.any? %>
    <turbo-frame id="flash">
      <% flash.each do |flash_type, message| %>
        <div class="alert alert-<%= bootstrap_class_for(flash_type) %> alert-dismissible fade show" role="alert" data-controller="flash">
          <%= message %>
          <button type="button" class="btn-close" data-action="flash#dismiss" aria-label="Close"></button>
        </div>
      <% end %>
    </turbo-frame>
  <% end %>
</div>